# Logs
api/logs
*.log
api/npm-debug.log*
api/yarn-debug.log*

# Dependency directories
api/node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
